﻿@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="container">
        <h1>Pundertaking</h1>
        <div class="input-field col center">
            <input id="search_jokes" type="text" placeholder="Dogs">
            <label for="search_jokes">Enter Search Terms For Jokes</label>
        </div>
        <div class="row center">
            <button class="rnd">I'm Feeling Random</button>
            <button class="srch">Search</button>
        </div>
    </div>
</header>


<main role="main">
    <div class="container">
        <div class="messages">
            
        </div>
    </div>
</main>

@section Scripts {
<script src="~/js/site.js"></script>
}