﻿:root {
    --bg: rgb(51, 47, 71);
    --bg-timid: rgb(31, 37, 55);
    --bg-dark: rgb(31, 28, 47);
    --text: rgb(254, 251, 246);
    --text-dark: rgb(189, 190, 190);
    --border: rgb(158, 158, 158);
    --blue: rgb(0, 168, 255);
    --pink: rgb(234, 94, 147);
    --yellow: rgb(246, 188, 100);
    --error: rgb(178, 33, 33);
    --header-grad: linear-gradient(45deg, var(--bg) 0%, var(--bg-timid) 45%, var(--yellow) 45%, var(--yellow) 60%, var(--pink) 60%, var(--pink) 75%, var(--bg) 75%, var(--bg) 100%);

    --input-pad: 8px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background: var(--bg-dark);
    color: var(--text);
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a, a:visited {
    color: var(--pink);
}

a:hover {
    text-decoration: none;
}

/* #region css helpers */
.container {
    width: min(600px, 100%);
    margin: 0 auto;
}

.row, .col {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.center {
    text-align: center;
}

.row.center, .col.center {
    justify-content: center;
}
/* #endregion */

/* #region header */
header {
    background: var(--header-grad);
    text-align: center;
    text-shadow: 0 0 1px #000;
    padding: 2em 1em;
}

header h1 {
    margin-top: 0;
}

.input-field {
    background: white;
    border-bottom: 1px solid var(--border);
    border-radius: 4px;
    padding-bottom: 2px;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-shadow: none;
}

.input-field:focus {
    border-bottom: 2px solid var(--blue);
}

.input-field input {
    background: transparent;
    border: none;
    outline: none;
    height: 2rem;
    width: calc(100% - var(--input-pad));
    margin: 1rem 0 0 0;
    padding: 0 0 0 var(--input-pad);
    box-shadow: none;
    box-sizing: content-box;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.input-field input::placeholder {
    color: transparent;
}

.input-field label {
    color: var(--border);
    position: absolute;
    top: 0.25rem;
    left: var(--input-pad);
    font-size: 1rem;
    cursor: text;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    transform-origin: 0% 100%;
    text-align: initial;
    transform: translateY(12px);
}

.input-field input:focus ~ label,
.input-field input:not(:placeholder-shown) ~ label{
    transform: translateY(-1px) scale(0.8);
    transform-origin: 0 0;
}

header .row {
    justify-content: space-around;
}

button {
    text-decoration: none;
    color: var(--text);
    background-color: var(--blue);
    text-align: center;
    letter-spacing: .5px;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
    text-transform: uppercase;
    transition: all .233s;
}

button.outline {
    border: 2px solid var(--blue);
    background: transparent;
    color: white;
}

button + button {
    margin-left: 1.5rem;
}

button:hover {
    background-color: var(--pink);
}

/* #endregion */

/* #region messages */
.messages {
    padding: 1em;
}

.messages .row {
    margin: 1em 0;
}

.messages p {
    padding: 1em;
    margin: 0;
    max-width: 80%;
    border-radius: 8px;
}

p strong {
    font-style: italic;
}

.user {
    justify-content: flex-end;
}

.user p {
    background-color: var(--blue);
    border-bottom-right-radius: 0;
}

.dad {
    justify-content: flex-start;
}

.dad p {
    background-color: var(--bg);
    border-bottom-left-radius: 0;
}

.dad.error p {
    background-color: var(--error);
}
/* #endregion */

/* #region footer */
footer {
    padding: 2rem 1rem;
}
/* #endregion */
