﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pundertaking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @RenderBody()

    <footer>
        <div class="container">
            Developed entirely by <a href="https://milkmanmatty.com.au/" target="_blank">Matthew Stubbins</a><br/>
            Design taken from <a href="https://dribbble.com/AlexBender" target="_blank">Alex Bender</a> - <a href="https://dribbble.com/shots/5528842-Rainbow-Messenger-App" target="_blank">Rainbow Messenger App</a><br />
            Jokes by <a href="https://icanhazdadjoke.com/" target="_blank">icanhazdadjoke</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
